html {
  scroll-behavior: smooth;
}

h2 {
  font-weight: 500;
  /* font-size: 16px; */
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #24252a;
}

.main-section {
  min-height: 100vh;
  /* padding: 8% 10%; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.main-centered {
  justify-content: center;
}

.profile-pic {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-section h1 {
  font-weight: 500;
  font-size: 80px;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.main-section h3 {
  font-weight: 500;
  font-size: 50px;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.main-section p {
  padding: 0 20%;
}

#skills div {
  display: flex;
  justify-content: center;
  padding: 0 10%;
}

ul {
  margin: 0 50px;
  display: inline-block;
  text-align: left;
  padding: 0;
}

li {
  margin: 10px 0;
}

.icon {
  width: 32px;
  height: 32px;
}

.slider img {
  height: 540px;
  max-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
}

.slider {
  padding: 0% 10%;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0% 10%;
  z-index: 1;
  background: #24252a;
  align-self: center;
}

.project-description {
  float: left !important;
}

.linear-content {
  display: flex;
  justify-content: center;
}

.project-card {
  width: 400px;
  height: 350px;
  background-color: #3b3c42;
  margin: 50px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card img {
  height: 80%;
  width: auto;
  margin-bottom: 15px;
}