html{
    scroll-behavior: smooth;
}

h2{
    font-weight: 500;
    /* font-size: 16px; */
    color: #edf0f1;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    background-color: #24252A;
}

.main-section{
    min-height: 100vh;
    padding: 8% 10%;
    text-align: center;
}